<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Анализатор страниц</title>
  <link rel='stylesheet' href='/webjars/bootstrap/5.1.3/css/bootstrap.min.css'>
  <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>

<div th:insert="~{application.html :: #nav-section}">
</div>

<main class="flex-grow-1">
  <div th:if="${session.flash}" th:class="'rounded-0 m-0 alert alert-dismissible fade show alert-' + ${ctx.consumeSessionAttribute('flash-type')}"
          role="alert">
    <p class="m-0" th:text="${ctx.consumeSessionAttribute('flash')}"></p>
  </div>
  <div class="container-lg mt-5">
    <h1>Сайты</h1>
    <table class="table table-bordered table-hover mt-3">
      <thead>
      <tr>
        <th class="col-1">ID</th>
        <th>Имя</th>
        <th class="col-2">Последняя проверка</th>
        <th class="col-1">Код ответа</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="url : ${urls}" th:object="${url}">
        <td th:text="*{getId()}"></td>
        <td>
          <a th:href="@{/urls/{id}(id=*{getId()})}" th:text="*{getName}"></a>
        </td>
        <td th:if="${not #lists.isEmpty(url.getChecks())}" th:text="${#temporals.format(url.getLastCheck().getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
        <td th:if="${not #lists.isEmpty(url.getChecks())}" th:text="*{getLastCheck().getStatusCode()}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation" th:if="${#lists.size(pages)}">
    <ul class="pagination justify-content-center mt-5">
      <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">
        <a class="page-link" th:href="@{urls(page=(${currentPage - 1}))}">Previous</a>
      </li>
      <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">
        <a class="page-link" th:href="@{urls(page=${page})}" th:text="${page}"></a>
      </li>
      <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">
        <a class="page-link" th:href="@{urls(page=(${currentPage + 1}))}">Next</a>
      </li>
    </ul>
  </nav>
</main>


<div th:insert="~{application.html :: #footer-section}"></div>
</html>