<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Анализатор страниц</title>
  <link rel='stylesheet' href='/webjars/bootstrap/5.1.1/css/bootstrap.min.css'>
  <script src="/webjars/bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <h2>Сайт</h2>
  <table th:object="${url}">
    <tr>
      <td>ID</td>
      <td th:text="*{getId()}"></td>
    </tr>
    <tr>
      <td>Имя</td>
      <td th:text="*{getName}"></td>
    </tr>
    <tr>
      <td>Дата создания</td>
      <td th:text="${#temporals.format(article.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
    </tr>
    </tbody>
  </table>
</body>
</html>